<div class="row table-responsive">
  <div class="col-md-12">
    <div class="col-md-12 text-center">

    </div>

    <br />
    <h2><a href="/courses/add" class="btn btn-success float-right">Add New
        Course</a></h2>
    <hr />
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Course Code</th>
          <th>Course Description</th>

        </tr>
      </thead>
      <tbody>
        {{#each courses}}
          <tr>
            <td><a href="/course/{{this.courseId}}">{{this.courseCode}}</a></td>

            <td><a
                href="/students?course={{this.courseId}}"
              >{{this.courseDescription}}</a></td>

            <td><a
                href="course/delete/{{this.courseId}}"
                class="btn btn-danger"
              >Delete</a></td>
          </tr>
        {{/each}}

      </tbody>
    </table>
    {{#unless courses}}
      <center> <strong>{{message}}</strong> </center>
    {{/unless}}
  </div>
</div>